@charset "utf-8";

/*摄像机列表*/
.searchContainer{margin: 20px 20px 0px 20px;width:1200px;height:35px;text-align: center;}
.mainContainer{margin: 10px 0px 0px;width:1360px;height:545px;padding: 10px;overflow: hidden;}
.tocContainer{margin-right: 10px; width:300px;height:570px;float: left;overflow: scroll;}
.mapContainer{margin: 20px;width:1050px;height:550px;float: left;}
#searchTxt{margin-right: 10px; width:500px;height: 30px;float: left;}
#searchBtn{float:left;}
#searchtype{float: left;margin-left: 10px;}